* {
  outline: 1px; /* Shows all element boundaries */
}

.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  height: 800px;
  position: sticky;
  top: 0;
  width: 280px;
}
.home {
  position: sticky;
  top: 0;
}
.post-card {
  margin: 5vw auto;
  width: 90%;
}

.hashtag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.create-post {
  width: 90%;
  margin: 5vh auto;
}

.welcome-message {
  margin: 100px 0;
}

.spinner {
  margin: 10% 0;
}

@media screen and (max-width: 820px) {
  .sidebar {
    width: 200px;
  }
}

@media screen and (max-width: 571px) {
  .sidebar {
    width: 180px;
  }

  .post-card {
    margin-left: 20px;
    width: 90%;
  }
}

@media screen and (max-width: 515px) {
  .post-card {
    width: 85%;
  }
}

@media screen and (max-width: 510px) {
  .app-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .button {
    white-space: nowrap;
  }

  .header {
    top: 0px;
    position: absolute;
    margin-left: 150px;
  }

  .sidebar {
    width: 40%;
    height: 252px;
    position: static;
  }
  .kkk {
    display: none;
  }

  .post-card {
    width: 90%;
    z-index: 1;
    margin-left: 5%;
  }

  .create-post {
    width: 80%;
  }
}

@media screen and (max-width: 386px) {
  .header {
    margin-left: 100px;
    z-index: 0;
  }

  .button {
    z-index: 1;
    margin-left: auto;
    white-space: wrap;
    text-align: center;
    margin-right: 3px;
  }
}

@media screen and (max-width: 331px) {
  .post-card {
    margin-top: 15px;
  }
  .sidebar {
    height: 292px;
  }
}
